<% provide(:title, "Home") %>

<div class="container">
    <div class="row">

    <div class="col-md-6 col-centered">

      <h3>New York City Block Data</h3>

      <p>
        In late December a young couple signed a lease on a lovely apartment. During the lease signing, the landlord mentioned that there had never been a noise problem, but if there ever was, give him a call. Fast forward to the first Tuesday night after move in. The young couple heard throbbing bass coming through their floors. Suddenly, the landlord's statement made sense.
      </p>

      <p>
        This is a familiar story for many New York City renters. A quick apartment viewing, a demeaning look through finances, and signatures on overwrought documents can lead not to a dream home, but a nightmare where tenants can't sleep, concentrate or be happy.
      </p>

      <p>
        Despite this, New York is still an amazing place. Partly because the city itself has made information available so anyone can look at the history of an address and see what current and previous tenants have had happen.
      </p>

      <p>
        StreetHealth exists to expose that information to people who want a quiet, safe place to live. Without having to trust landlords to tell them the truth about a property.
      </p>

    </div>

  </div>
</div>
