<% provide(:title, "Home") %>

<div ng-app="receta">
  <div ng-controller="MapController">
    <div>{{msg}}</div>

    <div class="view-container">
      <div ng-view class="view-frame animate-view"></div>
    </div>



</div>

