---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=324%20SPRING%20STREET&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "324",
                       "short_name" : "324",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Spring Street",
                       "short_name" : "Spring St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Elizabeth",
                       "short_name" : "Elizabeth",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Union County",
                       "short_name" : "Union County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "New Jersey",
                       "short_name" : "NJ",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "07201",
                       "short_name" : "07201",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "324 Spring St, Elizabeth, NJ 07201, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 40.6672346,
                          "lng" : -74.203738
                       },
                       "southwest" : {
                          "lat" : 40.6672285,
                          "lng" : -74.203755
                       }
                    },
                    "location" : {
                       "lat" : 40.6672285,
                       "lng" : -74.203738
                    },
                    "location_type" : "RANGE_INTERPOLATED",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 40.6685805302915,
                          "lng" : -74.2023975197085
                       },
                       "southwest" : {
                          "lat" : 40.6658825697085,
                          "lng" : -74.20509548029152
                       }
                    }
                 },
                 "place_id" : "EiczMjQgU3ByaW5nIFN0LCBFbGl6YWJldGgsIE5KIDA3MjAxLCBVU0E",
                 "types" : [ "street_address" ]
              },
              {
                 "address_components" : [
                    {
                       "long_name" : "324",
                       "short_name" : "324",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Spring Street",
                       "short_name" : "Spring St",
   [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=324%20SPRING%20STREET,%20NY,%20New%20York&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
   [...]
- request:
    method: get
    uri: https://nycopendata.socrata.com/resource/erm2-nwe9.json?$limit=50&incident_address=324%20SPRING%20STREET
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      X-App-Token:
      - SIFt2ipCw5uKhaOCxSEl0HVee
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sun, 10 Apr 2016 19:07:14 PDT
      X-Soda2-Warning:
      - X-SODA2-Fields, X-SODA2-Types, and X-SODA2-Legacy-Types are deprecated
      X-Soda2-Fields:
      - '["incident_zip","bridge_highway_segment","road_ramp","ferry_terminal_name","bridge_highway_direction","school_name","location","closed_date","complaint_type","school_not_found","street_name","city","park_borough","school_state","bridge_highway_name","taxi_company_borough","longitude","school_or_citywide_complaint","ferry_direction","community_board","created_date","school_address","status","facility_type","unique_key","agency_name","landmark","x_coordinate_state_plane","intersection_street_1","y_coordinate_state_plane","due_date","latitude","garage_lot_name",":created_at","school_code","school_city","address_type","intersection_street_2","school_number","resolution_action_updated_date","descriptor","vehicle_type","cross_street_2","cross_street_1","taxi_pick_up_location","resolution_description","school_zip",":updated_at","location_type","agency","borough","incident_address","school_phone_number","park_facility_name","school_region",":id"]'
      X-Soda2-Types:
      - '["text","text","text","text","text","text","location","calendar_date","text","text","text","text","text","text","text","text","number","text","text","text","calendar_date","text","text","text","text","text","text","number","text","number","calendar_date","number","text","meta_data","text","text","text","text","text","calendar_date","text","text","text","text","text","text","text","meta_data","text","text","text","text","text","text","text","meta_data"]'
      X-Soda2-Legacy-Types:
      - 'true'
      X-Socrata-Region:
      - production
    body:
      encoding: UTF-8
      string: |-
        [ {
          "incident_zip" : "10013",
          "school_name" : "Unspecified",
          "location" : {
            "needs_recoding" : false,
            "longitude" : "-74.00931188460676",
            "latitude" : "40.726002604601796",
            "human_address" : "{\"address\":\"\",\"city\":\"\",\"state\":\"\",\"zip\":\"\"}"
          },
          "closed_date" : "2012-02-18T01:51:32",
          "complaint_type" : "Noise - Commercial",
          "school_not_found" : "N",
          "street_name" : "SPRING STREET",
          "city" : "NEW YORK",
          "park_borough" : "MANHATTAN",
          "school_state" : "Unspecified",
          "longitude" : "-74.00931188460676",
          "community_board" : "02 MANHATTAN",
          "created_date" : "2012-02-18T00:10:16",
          "school_address" : "Unspecified",
          "status" : "Closed",
          "facility_type" : "Precinct",
          "unique_key" : "22734510",
          "agency_name" : "New York City Police Department",
          "x_coordinate_state_plane" : "981669",
          "y_coordinate_state_plane" : "203779",
          "due_date" : "2012-02-18T08:10:16",
          "latitude" : "40.726002604601796",
          "school_code" : "Unspecified",
          "school_city" : "Unspecified",
          "address_type" : "ADDRESS",
          "school_number" : "Unspecified",
          "resolution_action_updated_date" : "2012-02-18T01:51:32",
          "descriptor" : "Loud Music/Party",
          "cross_street_2" : "WASHINGTON STREET",
          "cross_street_1" : "GREENWICH STREET",
          "resolution_description" : "The Police Department responded to the complaint and determined that police action was not necessary.",
          "school_zip" : "Unspecified",
          "location_type" : "Club/Bar/Restaurant",
          "agency" : "NYPD",
          "borough" : "MANHATTAN",
          "incident_address" : "324 SPRING STREET",
          "school_phone_number" : "Unspecified",
          "park_facility_name" : "Unspecified",
          "school_region" : "Unspecified"
        }
        , {
          "incident_zip" : "10013",
          "school_name" : "Unspecified",
          "location" : {
            "needs_recoding" : false,
            "longitude" : "-74.00931188460676",
            "latitude" : "40.726002604601796",
            "human_address" : "{\"address\":\"\",\"city\":\"\",\"state\":\"\",\"zip\":\"\"}"
          },
          "closed_date" : "2012-03-11T01:28:04",
          "complaint_type" : "Noise - Commercial",
          "school_not_[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=NOT%20A%20REAL%20ADDRESS,%20NY,%20New%20York&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=324%20SPRING%20STREET,%20NY&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                 [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=324%20SPRING%20STREET,%20NY&key=AIzaSyCCh_8bPalwdULs2n0K1r45OoBwzVMGtj0&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "324",
                       "short_name" : "324",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Spring Street",
                       "short_name" : "Spring St",
                       "typ[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=NOT%20A%20REAL%20ADDRESS,%20NY,%20New%20York&key=AIzaSyCCh_8bPalwdULs2n0K1r45OoBwzVMGtj0&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
     [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=324%20SPRING%20STREET,%20NY,%20New%20York&key=AIzaSyCCh_8bPalwdULs2n0K1r45OoBwzVMGtj0&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        [...]
- request:
    method: get
    uri: https://nycopendata.socrata.com/resource/erm2-nwe9.json?$limit=50&$order=created_date%20DESC&incident_address=324%20SPRING%20STREET
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      X-App-Token:
      - SIFt2ipCw5uKhaOCxSEl0HVee
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Socrata-Requestid:
      - 3sxi1l6io7kl2ux93pvj2vx8h
      Last-Modified:
      - Sun, 16 Oct 2016 01:28:49 UTC
      X-Soda2-Warning:
      - X-SODA2-Fields, X-SODA2-Types, and X-SODA2-Legacy-Types are deprecated
      X-Soda2-Fields:
      - '["closed_date","bridge_highway_segment","descriptor","borough","cross_street_2","cross_street_1","complaint_type","bridge_highway_name","taxi_company_borough","x_coordinate_state_plane","landmark","incident_zip","school_zip","longitude","park_facility_name","unique_key","s[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=324%20SPRING%20ST,%20NY,%20New%20York&key=AIzaSyCCh_8bPalwdULs2n0K1r45OoBwzVMGtj0&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
    [...]
