<section class="row">
  <form>
    <div class="input-group col-md-6 col-md-offset-3">
      <label for="address" class="sr-only">Address</label>
      <input ng-model="address" name="address" type="text" autofocus class="form-control" placeholder="Enter an address. e.g. 671 Broadway">
      <span class="input-group-btn">
        <button ng-click="search(address)" class="btn btn-primary">Search</button>
      </span>
    </div>
  </form>
</section>
<hr>

<!-- <ul id="stuff">
  <li ng-repeat="pos in positions">
    <span>{{pos.name}}</span>
    <p>{{pos.pos[0]}},{{pos.pos[1]}}</p>
  </li>
</ul> -->

<ng-map zoom="13" center="[40.7128,-74.0059]">
  <!-- <marker position="40.74,-74.18" title="Hello World!"></marker> -->
  <marker ng-repeat="pos in positions" position="{{pos.pos}}"></marker>
</ng-map>
