<section class="row">
  <form>
    <div class="input-group col-md-6 col-md-offset-3">
      <label for="address" class="sr-only">Address</label>
      <input ng-model="address" name="address" type="text" autofocus class="form-control" placeholder="Enter an address. e.g. 671 Broadway">
      <span class="input-group-btn">
        <button ng-click="search(address)" class="btn btn-primary">Search</button>
      </span>
    </div>
  </form>
</section>
<hr>
<section class="row">
  <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
</section>
