<div class="container-fluid">

  <div class="row-fluid">

    <div class="col-md-6">
      <form>
        <div class="input-group">
          <label for="address" class="sr-only">Address</label>
          <input ng-model="address" name="address" type="text" autofocus class="form-control" placeholder="Enter an address. e.g. 671 Broadway">
          <span class="input-group-btn">
            <button ng-click="search(address)" class="btn btn-primary">Search</button>
          </span>
        </div>
      </form>

      <div id="service-requests-info" ng-hide="service_requests.length == 0">
        <h3>{{service_requests.length}} Service Requests.</h3>

        <ul ng-repeat="type in (filteredItems = (complaint_types | orderBy: 'count':true))">
          <li>{{type.type}}: {{type.count}}</li>
        </ul>

      </div>

      <div id="service-requests"  class="table-responsive">

        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Type</th>
              <th>Date</th>
            </tr>
          </thead>
          <tr ng-repeat="sr in (filteredItems = (service_requests | orderBy: 'created_at':true))">
            <td>{{sr.complaint_type}}</td>
            <td>{{sr.created_date | date:"MM/dd/yyyy h:mma" : timezone: 'UTC'}}</td>
          </tr>
        </table>
      </div>

    </div>

    <div class="col-md-6">
      <ui-gmap-google-map center='map.center' zoom='map.zoom'>
        <ui-gmap-marker ng-repeat="marker in markers" coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id"></ui-gmap-marker>
      </ui-gmap-google-map>
    </div>

  </div>

</div>


<!-- <ul id="stuff">
  <li ng-repeat="pos in positions">
    <span>{{pos.name}}</span>
    <p>{{pos.pos[0]}},{{pos.pos[1]}}</p>
  </li>
</ul> -->


